<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TTYGX6DSW7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TTYGX6DSW7');
    </script>
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "bi2lthqsyf");
    </script>
</head>
<body>
    <!-- Menu -->
    <div id="loader"></div>
    <!-- <a href="#content" class="skip-nav">Skip Nav</a> -->
    <header>
    <nav class="menu" id="menu" role="navigation">
      <a href="/">Home</a>
    </nav>
    </header>
    <main id="content">
    <!-- Menu End -->
{{ content | safe }}
    </main>
    <footer>
      <p>Created By <a href="https://zacharyc.site">Zachary C</a></p>
    </footer>
</body>
</html>