<footer>
  <p>All content on this site is published under the MIT License (Free for personal and commercial use).</p>
  <p>Created By <a href="https://zacharyc.site" target="_blank">Zachary Crespin</a> on <a href="https://github.com/ZacharyCrespin/periodic-tables" target="_blank">GitHub</a>.</p>
</footer>
