<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <title>{{ title }} | Free Periodic Tables</title>
    <meta name="description" content="{{ title }} | Free Periodic Tables">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" href="/css/style.css">
{% include 'analytics.njk' %}
</head>
<body>
    <header>
    <nav class="menu" id="menu" role="navigation">
      <a href="/">Home</a>
    </nav>
    </header>
    <main id="content">
{{ content | safe }}
    </main>
{% include 'footer.njk' %}
</body>
</html>