@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

body {
  margin: 0 3rem;
  padding: 0;
  text-align: center;
  font-family: Poppins, sans-serif;
  background-color: white;
  color: black;
}

h1 {
  font-weight: 400;
}
h2 {
  font-weight: 200;
}
a {
  color: black;
}
a:hover {
  color: gray;
}

.menu {
  text-align: right;
}
.menu a {
  display: inline-block;
  margin: 0.5rem;
  padding: 0 1ch;
  text-decoration: none;
}

.tagnav {
  padding: 0 1rem;
  text-align: left;
}

.table {
  display: inline-block;
  width: calc(50% - 2rem);
  margin: 0.5rem;
  padding-bottom: 1rem;
  border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 2px 2px 6px 0 #00000040;
}
.table:hover {
  border: 1px solid gray;
}
.table img {
  width: 100%;
}

.button,
.tag {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-weight: 200;
  border-radius: 100vh;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 6px 0 #00000040;
}
.button {
  margin: 1rem;
  padding: 0.5rem 2rem;
}
.tag {
  margin: 0.5rem;
  padding: 0.5ch 1.5ch;
}
.button:hover,
.tag:hover {
  border: 1px solid gray;
}

.tablepage img {
  width: 80%;
}

.dark {
  background-color: black;
  color: white;
}
.dark .button {
  color: lightgray;
}
.dark .button:hover,
.dark .tag:hover {
  color: white;
  border-color: white;
}

@media only screen and (max-width: 800px) {
  .table {
    width: calc(100% - 2rem);
  }
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .tagnav {
    max-width: 100%;
    padding: 0;
    margin: 0 0.5rem;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }
}
