<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <title>{{ name }} Periodic Table</title>
    <meta name="description" content="{{ name }} Periodic Table">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" href="/css/style.css">
{% include 'analytics.njk' %}
</head>
<body>
    <header>
      <nav class="menu" id="menu" role="navigation">
        <a href="/">Home</a>
      </nav>
    </header>
    <main id="content">
    <h1>{{ name }}</h1>
    <img src="/table/{{ id }}.png" alt="{{ name }} Periodic Table"><br>
    <a class="button" href="/table/{{ id }}.zip" download="{{ name }}.zip">Download</a>
    </main>
{% include 'footer.njk' %}
</body>
</html>