<div class="sort">
  <a href="/">all</a>
  <a href="/tag/basic">basic</a>
  <a href="/tag/dark">dark</a>
  <a href="/tag/light">light</a>
  <a href="/tag/round">round</a>
  <a href="/tag/simple">simple</a>
</div>