<div class="tagnav" aria-label="Tag Nav">
  <a href="/" class="tag">all</a>
  <a href="/tag/basic" class="tag">basic</a>
  <a href="/tag/dark" class="tag">dark</a>
  <a href="/tag/light" class="tag">light</a>
  <a href="/tag/round" class="tag">round</a>
  <a href="/tag/simple" class="tag">simple</a>
</div>
