---
title: Round Periodic Tables
layout: 'tag.njk'
---
    <div class="gallery">
      {%- for round in collections.round | reverse -%}
      <div class="table">
        <h2>{{ round.data.name }}</h2>
        <img src="/table/{{ round.data.id }}.png" alt="Table"><br>
        <a class="button" href="/table/{{ round.data.id }}">View / Download</a>
      </div>
      {%- endfor -%}
    </div>