---
title: Home
layout: 'basic.njk'
---
    <h1>Latest Free Periodic Tables</h1>
    <div class="latest">
      {%- for table in collections.table | reverse -%}
      <div class="table">
        <h2>{{ table.data.name }}</h2>
        <img src="/table/{{ table.data.id }}.png" alt="Table"><br>
        <a class="button" href="/table/{{ table.data.id }}">View / Download</a>
      </div>
      {%- endfor -%}
    </div>