---
title: Home
layout: 'gallery.njk'
---
    <h1>Free Periodic Tables</h1>
{% include 'tagnav.njk' %}
    <div class="gallery">
      {%- for table in collections.table | reverse -%}
      <div class="table {{ table.data.theam }}">
        <h2>{{ table.data.name }}</h2>
        <img src="/images/{{ table.data.id }}.png" loading="lazy" alt="Table" data-pin-id="{{ table.data.pinid }}">
        <br>{% for tag in table.data.tags -%}
        {% if tag !== 'table' %}
        <a class="tag" href="/tag/{{ tag }}">{{ tag }}</a>
        {% endif %}
        {%- endfor %}<br>
        <a class="button" href="/table/{{ table.data.id }}">View / Download</a>
      </div>
      {%- endfor -%}
    </div>